<%= include('includes/top.tmpl') %>

    <div class="main">
        <!--div class="delayed-image-load" data-src="<%= pathStatic %>/<%= vocab_dir %>/img/320/faces.jpg" data-width="320" style="width: 100%;"></div-->

        <div id="ns__hillsborough__detail" class="ns__hillsborough__detail ns__profile--enabled">
        	<div id="ns__hillsborough__intro" class="ns__hillsborough__intro">
				<h2>Introduction</h2>
	        	<p>
	        		On 15 April 1989, overcrowding occurred on the terraces of Sheffield Wednesday's Hillsborough stadium at the start of an FA Cup semi-final between Liverpool and Nottingham Forest football clubs.
	        	</p>
	        	<p>
					<a href="http://www.bbc.co.uk/news/uk-england-merseyside-26783600" target="_parent">New inquests are being held</a> for the 96 people who lost their lives in the disaster, the youngest of whom 
					was just 10 years old; the oldest, 67.
	        	</p>
	        	<p class="ns__hillsborough--cta">
					<strong>Click on the faces for a pen portrait of each victim.</strong>
	        	</p>

				<h2>About the victims</h2>
				<h3 class="ns__hillsborough__vis__sub-header">Age group</h3>
				<ul class="ns__hillsborough__vis--age-ranges">
					<li class="ns__hillsborough--age-range-0">
						<span class="ns__hillsborough--label">10-19</span>
						<span class="ns__hillsborough--graph-bar"></span>
						<span class="ns__hillsborough--value">38</span>
					</li>
					<li class="ns__hillsborough--age-range-1">
						<span class="ns__hillsborough--label">20-29</span>
						<span class="ns__hillsborough--graph-bar"></span>
						<span class="ns__hillsborough--value">40</span>
					</li>
					<li class="ns__hillsborough--age-range-2">
						<span class="ns__hillsborough--label">30-39</span>
						<span class="ns__hillsborough--graph-bar"></span>
						<span class="ns__hillsborough--value">12</span>
					</li>
					<li class="ns__hillsborough--age-range-3">
						<span class="ns__hillsborough--label">40-49</span>
						<span class="ns__hillsborough--graph-bar"></span>
						<span class="ns__hillsborough--value">3</span>
					</li>
					<li class="ns__hillsborough--age-range-4">
						<span class="ns__hillsborough--label">50-59</span>
						<span class="ns__hillsborough--graph-bar"></span>
						<span class="ns__hillsborough--value">1</span>
					</li>
					<li class="ns__hillsborough--age-range-5">
						<span class="ns__hillsborough--label">60-67</span>
						<span class="ns__hillsborough--graph-bar"></span>
						<span class="ns__hillsborough--value">2</span>
					</li>
				</ul>

				<div class="ns__hillsborough__graph--gender">
					<span class="ns__hillsborough--male"></span>
					<span class="ns__hillsborough--female"></span>
				</div>

				<ul class="ns__hillsborough__vis--gender">
					<li class="ns__hillsborough--all">
						<span class="ns__hillsborough--label">Total victims</span>
						<span class="ns__hillsborough--value">96</span>
					</li>
					<li class="ns__hillsborough--male">
						<span class="ns__hillsborough--label">Males</span>
						<span class="ns__hillsborough--value">89</span>
					</li>
					<li class="ns__hillsborough--female">
						<span class="ns__hillsborough--label">Females</span>
						<span class="ns__hillsborough--value">7</span>
					</li>
				</ul>

        	</div>

        </div>


        <ul id="ns__hillsborough__list" class="ns__hillsborough__list">
			<li id="ns__hillsborough--0" class="">
				<h2 class="ns__hillsborough__name">John Alfred Anderson</h2>
				<span class="ns__hillsborough__age">62</span>
				<p class="ns__hillsborough__profile">Known as Jack, Mr Anderson was a married security officer from Liverpool. He travelled to Sheffield by car with his son, Brian, and two friends, all of whom survived. Jack was a loving grandfather, Brian told the inquest, and had started taking his grandson Graeme to the match. &quot;My dad would sit him on the wall in the Kop, just in front of him, Graeme having a great time, just like I did when I was a small child.&quot; His mum had been deprived of her later years with her husband, he added. &quot;Dad is greatly missed by all of us.&quot;</p>
			</li>
			<li id="ns__hillsborough--1" class="">
				<h2 class="ns__hillsborough__name">Colin Mark Ashcroft</h2>
				<span class="ns__hillsborough__age">19</span>
				<p class="ns__hillsborough__profile">Colin Ashcroft, a gardener from Warrington, travelled on his own to the game on a coach organised by Liverpool Supporters' Club.</p>
			</li>
			<li id="ns__hillsborough--2" class="">
				<h2 class="ns__hillsborough__name">James Gary Aspinall</h2>
				<span class="ns__hillsborough__age">18</span>
				<p class="ns__hillsborough__profile">Liverpool clerk James Aspinall travelled to the game by coach with a friend, <a class="ns__hillsborough__link--companion" href="#ns__hillsborough--95">Graham John Wright</a>, who also died. His father, also called James Aspinall, stood on the Leppings Lane terraces but survived. James' mother Margaret Aspinall is chair of the Hillsborough Family Support Group.</p>
			</li>
			<li id="ns__hillsborough--3" class="">
				<h2 class="ns__hillsborough__name">Kester Roger Marcus Ball</h2>
				<span class="ns__hillsborough__age">16</span>
				<p class="ns__hillsborough__profile">Teenager Kester Ball from St Albans travelled to the game by car with his father, Roger Ball, and a friend, who both survived the tragedy. He was a Liverpool FC season ticket holder.</p>
			</li>
			<li id="ns__hillsborough--4" class="">
				<h2 class="ns__hillsborough__name">Gerard Bernard Patrick Baron</h2>
				<span class="ns__hillsborough__age">67</span>
				<p class="ns__hillsborough__profile">A retired postal worker from Preston, Gerard Baron was the oldest person to die at Hillsborough. His brother Kevin played for Liverpool in the 1950 FA Cup Final. He drove to Sheffield with his son who survived the disaster. Gerard Jnr from Adelaide, South Australia, said his last words to his Dad were: 'You'll be alright.' &quot;How wrong I was.&quot; </p>
			</li>
			<li id="ns__hillsborough--5" class="">
				<h2 class="ns__hillsborough__name">Simon Bell</h2>
				<span class="ns__hillsborough__age">17</span>
				<p class="ns__hillsborough__profile">A Youth Training Scheme trainee from Liverpool, Simon Bell travelled by car with his friend Danny Murphy and his father, Alan, who both survived. He was one of 38 victims aged under 20 to die in the tragedy.</p>
			</li>
			<li id="ns__hillsborough--6" class="">
				<h2 class="ns__hillsborough__name">Barry Sidney Bennett</h2>
				<span class="ns__hillsborough__age">26</span>
				<p class="ns__hillsborough__profile">A divorced seaman from Liverpool, Barry Sidney Bennett travelled to the match by car with four friends. They became separated outside the stadium but all survived with the exception of Mr Bennett.</p>
			</li>
			<li id="ns__hillsborough--7" class="">
				<h2 class="ns__hillsborough__name">David John Benson</h2>
				<span class="ns__hillsborough__age">22</span>
				<p class="ns__hillsborough__profile">David Benson, a sales representative from Warrington, drove to the game with his friend Ian Long who survived. At the ground, they separated because they had tickets for different sections.</p>
			</li>
			<li id="ns__hillsborough--8" class="">
				<h2 class="ns__hillsborough__name">David William Birtle</h2>
				<span class="ns__hillsborough__age">22</span>
				<p class="ns__hillsborough__profile">David Birtle, an HGV driver who lived with his father in Cannock, Staffordshire drove on his own to Sheffield, leaving at about 10:00. He was a Liverpool FC season ticket holder.</p>
			</li>
			<li id="ns__hillsborough--9" class="">
				<h2 class="ns__hillsborough__name">Tony Bland</h2>
				<span class="ns__hillsborough__age">22</span>
				<p class="ns__hillsborough__profile">The 96th and final person to die after Hillsborough, Tony Bland was a labourer from Keighley, West Yorkshire, who travelled by car with friends, Ian Grew and Alan Gill, who both survived. He spent nearly four years in a persistent vegetative state before his death on 3 March 1993. In a landmark case, judges ruled he should be allowed to die through the withdrawal of feeding tubes.</p>
			</li>
			<li id="ns__hillsborough--10" class="">
				<h2 class="ns__hillsborough__name">Paul David Brady</h2>
				<span class="ns__hillsborough__age">21</span>
				<p class="ns__hillsborough__profile">Paul Brady, a refrigeration engineer from Liverpool, was picked up and driven to Sheffield by two friends, both of whom survived. When they arrived, they met up with another friend Joseph McCarthy, who also died in the tragedy.</p>
			</li>
			<li id="ns__hillsborough--11" class="">
				<h2 class="ns__hillsborough__name">Andrew Mark Brookes</h2>
				<span class="ns__hillsborough__age">26</span>
				<p class="ns__hillsborough__profile">Andrew Brookes, a car worker from Bromsgrove in the West Midlands, travelled by car with friends all of whom survived the disaster.</p>
			</li>
			<li id="ns__hillsborough--12" class="">
				<h2 class="ns__hillsborough__name">Carl Brown</h2>
				<span class="ns__hillsborough__age">18</span>
				<p class="ns__hillsborough__profile">Teenage student Carl Brown drove to the game from Leigh near Wigan with friends. The group who became separated all survived with the exception of Mr Brown.  </p>
			</li>
			<li id="ns__hillsborough--13" class="">
				<h2 class="ns__hillsborough__name">David Steven Brown</h2>
				<span class="ns__hillsborough__age">25</span>
				<p class="ns__hillsborough__profile">Steven Brown, as he was known, was a machine operator from Wrexham and a Liverpool FC season ticket holder. He went to Hillsborough with his brother, Andrew Brown, who survived. He met his wife, Sarah when he was just 16:  she was six months pregnant when he died. Their daughter was called Samantha, a name Steven chose. &quot;I have tried to shower her with her daddy's love, which I know would have flown in abundance,&quot; Sarah told the inquest.</p>
				<a class="ns__hillsborough__storylink" href="http://www.bbc.co.uk/news/uk-england-26930233" target="ns__linkout">Full story (opens in a new browser window)</a>
			</li>
			<li id="ns__hillsborough--14" class="">
				<h2 class="ns__hillsborough__name">Henry Thomas Burke</h2>
				<span class="ns__hillsborough__age">47</span>
				<p class="ns__hillsborough__profile">A roofer from Liverpool, Henry Burke travelled by car with several friends, including his brother-in-law James Murphy. Mr Burke was the only one of the group to die at Hillsborough.</p>
			</li>
			<li id="ns__hillsborough--15" class="">
				<h2 class="ns__hillsborough__name">Peter Andrew Burkett</h2>
				<span class="ns__hillsborough__age">24</span>
				<p class="ns__hillsborough__profile">Living in Prenton, Peter Burkett was a married insurance clerk. He travelled by car with friends Michael Robertson, who survived, and Jonathon Owens, who also died at Hillsborough.</p>
			</li>
			<li id="ns__hillsborough--16" class="">
				<h2 class="ns__hillsborough__name">Paul William Carlile</h2>
				<span class="ns__hillsborough__age">19</span>
				<p class="ns__hillsborough__profile">Paul Carlile was a plasterer and Liverpool FC season ticket holder who travelled by train from Liverpool with two friends. They both survived.</p>
			</li>
			<li id="ns__hillsborough--17" class="">
				<h2 class="ns__hillsborough__name">Raymond Thomas Chapman</h2>
				<span class="ns__hillsborough__age">50</span>
				<p class="ns__hillsborough__profile">Raymond Chapman was a married machine setter from Birkenhead who travelled by car with several friends, including John Pleavin, a survivor, and Steven Fox, who also died.</p>
			</li>
			<li id="ns__hillsborough--18" class="">
				<h2 class="ns__hillsborough__name">Gary Christopher Church</h2>
				<span class="ns__hillsborough__age">19</span>
				<p class="ns__hillsborough__profile">Gary Church was a joiner from Liverpool who travelled from Liverpool by minibus with friends, including Anthony Owen, a survivor. They met up with other friends, including Christopher Devonside and Simon Bell, both of whom died in the tragedy.</p>
			</li>
			<li id="ns__hillsborough--19" class="">
				<h2 class="ns__hillsborough__name">Joseph Clark</h2>
				<span class="ns__hillsborough__age">29</span>
				<p class="ns__hillsborough__profile">A father-of-two from Liverpool, Joseph Clark worked as a fork-lift driver and drove to the match with his brother Stephen Clark and friend David Roberts, both of whom survived.  Another friend Alan McGlone who travelled with them also died in the tragedy.</p>
			</li>
			<li id="ns__hillsborough--20" class="">
				<h2 class="ns__hillsborough__name">Paul Clark</h2>
				<span class="ns__hillsborough__age">18</span>
				<p class="ns__hillsborough__profile">An apprentice electrician from Swanwick, Derbyshire, Paul Clark drove with his friend Andrew Booth to Chesterfield and picked up his father Kenneth Clark. Kenneth separated from the others on arrival as he had a ticket in the North Stand. Ken Clark and Andrew Booth both survived.</p>
			</li>
			<li id="ns__hillsborough--21" class="">
				<h2 class="ns__hillsborough__name">Gary Collins</h2>
				<span class="ns__hillsborough__age">22</span>
				<p class="ns__hillsborough__profile">Gary Collins was a quality controller at a food factory from Liverpool, who drove to the match with friends Martin Malone and Henry Clarke, both of whom survived. He came from a family of Evertonians, but was a big Liverpool fan. &quot;To think that the Hillsborough disaster could have been prevented is excruciating to live with,&quot; his father, John, told the inquest. &quot;The fact we will never see Gary reach his full potential in life is the cruellest thing this life has ever dealt us.&quot;</p>
				<a class="ns__hillsborough__storylink" href="http://www.bbc.co.uk/news/uk-england-26943598" target="ns__linkout">Full story (opens in a new browser window)</a>
			</li>
			<li id="ns__hillsborough--22" class="">
				<h2 class="ns__hillsborough__name">Stephen Paul Copoc</h2>
				<span class="ns__hillsborough__age">20</span>
				<p class="ns__hillsborough__profile">Stephen Copoc, a landscape gardener from Liverpool, travelled to the match by coach with friends Anthony Smith and Anthony Burrows, who both survived. The youngest of the family, he loved birds and fishing according to his sister Angela Griffiths. The whole family were big Liverpool FC fans, &quot;but not since 1989. After that we gave the season tickets back.&quot;</p>
			</li>
			<li id="ns__hillsborough--23" class=" ns__hillsborough--female">
				<h2 class="ns__hillsborough__name">Tracey Elizabeth Cox</h2>
				<span class="ns__hillsborough__age">23</span>
				<p class="ns__hillsborough__profile">A speech science student at Sheffield University, Tracey Cox went to school in Sweden because her father worked there and was fluent in German and Swedish. After a ticket became available on the day, she went to the match with her boyfriend, Richard Jones, who also died in the tragedy and his sister Stephanie Jones, who survived. At the inquest, Stephanie described Tracey as &quot;the sister I never had.&quot;</p>
				<a class="ns__hillsborough__storylink" href="http://www.bbc.co.uk/news/uk-england-26911550" target="ns__linkout">Full story (opens in a new browser window)</a>
			</li>
			<li id="ns__hillsborough--24" class="">
				<h2 class="ns__hillsborough__name">James Philip Delaney</h2>
				<span class="ns__hillsborough__age">19</span>
				<p class="ns__hillsborough__profile">A car assembly worker from South Wirral, James Delaney travelled with several friends by coach including James Hennessy, who also died in the disaster and Brian Bickerstaff who survived.</p>
			</li>
			<li id="ns__hillsborough--25" class="">
				<h2 class="ns__hillsborough__name">Christopher Barry Devonside</h2>
				<span class="ns__hillsborough__age">18</span>
				<p class="ns__hillsborough__profile">Wirral student Christopher Devonside drove to the match with his father Barry Devonside and friends including Jason Kenworthy, who all survived. Barry Devonside is a former secretary of the Hillsborough Family Support Group.</p>
			</li>
			<li id="ns__hillsborough--26" class="">
				<h2 class="ns__hillsborough__name">Christopher Edwards</h2>
				<span class="ns__hillsborough__age">29</span>
				<p class="ns__hillsborough__profile">A steelworker from South Wirral, Christopher Edwards travelled by car with a group of friends including Malcolm Ramsey who all survived. Once inside the ground, Mr Edwards separated from the group as he was the only one with a standing terrace ticket.</p>
			</li>
			<li id="ns__hillsborough--27" class="">
				<h2 class="ns__hillsborough__name">Vincent Michael Fitzsimmons</h2>
				<span class="ns__hillsborough__age">34</span>
				<p class="ns__hillsborough__profile">Vincent Fitzsimmons was a divorced moulding technician from Wigan, who travelled by coach with friends John Richardson, Graham Richardson and William Woods, who all survived.</p>
			</li>
			<li id="ns__hillsborough--28" class="">
				<h2 class="ns__hillsborough__name">Thomas Steven Fox</h2>
				<span class="ns__hillsborough__age">21</span>
				<p class="ns__hillsborough__profile">Steve Fox, as he was known to his friends and family, was a production worker from Birkenhead who travelled to Sheffield by car with several friends, including John Pleavin, a survivor, and Raymond Chapman, who also died in the tragedy.</p>
			</li>
			<li id="ns__hillsborough--29" class="">
				<h2 class="ns__hillsborough__name">Jon-Paul Gilhooley</h2>
				<span class="ns__hillsborough__age">10</span>
				<p class="ns__hillsborough__profile">Huyton schoolboy Jon-Paul Gilhooley was the youngest person to die at Hillsborough. He travelled to the game by minibus with his uncles, Brian and John Gilhooley, both of whom survived. Jon-Paul was the older cousin of Liverpool footballer Steven Gerrard who was eight at the time.</p>
			</li>
			<li id="ns__hillsborough--30" class="">
				<h2 class="ns__hillsborough__name">Barry Glover</h2>
				<span class="ns__hillsborough__age">27</span>
				<p class="ns__hillsborough__profile">Barry Glover travelled by car to Hillsborough with his father and three friends who all survived the tragedy. A greengrocer by trade he was &quot;more like a carer or social worker,&quot; explained his wife, Stephanie Sweeney. The streets &quot;were lined with people&quot; for his funeral, she said. &quot;It was clear Barry was as well thought of.&quot;</p>
			</li>
			<li id="ns__hillsborough--31" class="">
				<h2 class="ns__hillsborough__name">Ian Thomas Glover</h2>
				<span class="ns__hillsborough__age">20</span>
				<p class="ns__hillsborough__profile">Ian Glover who worked as a street paver from Liverpool, travelled with his brother Joseph Glover and other friends, all of whom survived. Ian's father, John Glover, was a co-founder of the Hillsborough Justice Campaign. He died of cancer in March 2013.</p>
			</li>
			<li id="ns__hillsborough--32" class="">
				<h2 class="ns__hillsborough__name">Derrick George Godwin</h2>
				<span class="ns__hillsborough__age">24</span>
				<p class="ns__hillsborough__profile">Derrick Godwin, an accounts clerk from Gloucester, drove himself to Cheltenham and then travelled to Sheffield by train. He was a Liverpool FC season ticket holder.</p>
			</li>
			<li id="ns__hillsborough--33" class="">
				<h2 class="ns__hillsborough__name">Roy Harry Hamilton</h2>
				<span class="ns__hillsborough__age">33</span>
				<p class="ns__hillsborough__profile">Roy Hamilton was a married railway technician from Liverpool who travelled by coach with his 15-year-old stepson Stuart Hamilton and his brother-in-law Robert Alcock, who both sat in the North Stand seats and survived.</p>
			</li>
			<li id="ns__hillsborough--34" class="">
				<h2 class="ns__hillsborough__name">Philip Hammond</h2>
				<span class="ns__hillsborough__age">14</span>
				<p class="ns__hillsborough__profile">A schoolboy from Liverpool, Philip Hammond travelled by coach to the game with a friend, Ian Southgate, who survived. His father Phil Hammond is the former chair of the Hillsborough Family Support Group.</p>
			</li>
			<li id="ns__hillsborough--35" class="">
				<h2 class="ns__hillsborough__name">Eric Hankin</h2>
				<span class="ns__hillsborough__age">33</span>
				<p class="ns__hillsborough__profile">A nurse and father-of-two from Liverpool, Eric Hankin travelled with a number of friends, who all survived. He married his wife when she was 16 and he was 20. He was &quot;dedicated&quot; to his job as a staff nurse at Moss Side Hospital in Maghull, Liverpool. His daughter Lynsey, told the inquest, when she was growing up, her dad was like a &quot;big friendly giant&quot; who made everyone laugh. &quot;There's a big, giant-shaped hole in my heart since he died. I've learned to live with it, but I don't think the pain will ever leave.&quot;</p>
				<a class="ns__hillsborough__storylink" href="http://www.bbc.co.uk/news/uk-england-26942692" target="ns__linkout">Full story (opens in a new browser window)</a>
			</li>
			<li id="ns__hillsborough--36" class="">
				<h2 class="ns__hillsborough__name">Gary Harrison</h2>
				<span class="ns__hillsborough__age">27</span>
				<p class="ns__hillsborough__profile">A married father-of-two from Liverpool who worked as a driver, Gary Harrison travelled with his older brother Stephen Francis Harrison, who also died. His widow Karen told the inquest Gary was a talented footballer who was on Everton's books. He had two children, Claire, who was eight, and four-year-old Paul, who became an Anfield apprentice. &quot;Gary would have been bursting with pride.&quot;</p>
			</li>
			<li id="ns__hillsborough--37" class="">
				<h2 class="ns__hillsborough__name">Peter Andrew Harrison</h2>
				<span class="ns__hillsborough__age">15</span>
				<p class="ns__hillsborough__profile">Peter Harrison was a Liverpool FC season ticket holder and a schoolboy from Liverpool. He travelled by car with friends, Alan and Gerry Blayney, who both survived. He was one of the 38 victims under 20 to die in the tragedy.</p>
			</li>
			<li id="ns__hillsborough--38" class="">
				<h2 class="ns__hillsborough__name">Stephen Francis Harrison</h2>
				<span class="ns__hillsborough__age">31</span>
				<p class="ns__hillsborough__profile">Stephen Harrison was a married father-of-four from Liverpool who worked as a driver. He travelled by coach with his younger brother Gary Harrison, who also died in the tragedy.</p>
			</li>
			<li id="ns__hillsborough--39" class="">
				<h2 class="ns__hillsborough__name">David Hawley</h2>
				<span class="ns__hillsborough__age">39</span>
				<p class="ns__hillsborough__profile">A married father-of-three from St Helens, David Hawley travelled by car with friends and brother-in-law Kevin O'Neill, who all survived, and his nephew, Stephen Francis O'Neill, who also died. Mr Hawley and Stephen O'Neill separated from the group who had tickets elsewhere in the ground.</p>
			</li>
			<li id="ns__hillsborough--40" class="">
				<h2 class="ns__hillsborough__name">James Robert Hennessy</h2>
				<span class="ns__hillsborough__age">29</span>
				<p class="ns__hillsborough__profile">A self-employed father-of-one from Ellesmere Port, plasterer James Hennessy travelled by coach with friends Brian Bickerstaff, who survived, and James Philip Delaney, who also died at Hillsborough.</p>
			</li>
			<li id="ns__hillsborough--41" class="">
				<h2 class="ns__hillsborough__name">Paul Anthony Hewitson</h2>
				<span class="ns__hillsborough__age">26</span>
				<p class="ns__hillsborough__profile">Paul Hewitson, a builder from Liverpool, travelled by car with several friends, including Terence Moore, who survived.</p>
			</li>
			<li id="ns__hillsborough--42" class="">
				<h2 class="ns__hillsborough__name">Carl Darren Hewitt</h2>
				<span class="ns__hillsborough__age">17</span>
				<p class="ns__hillsborough__profile">A cabinet-maker from Leicester, Carl Darren Hewitt travelled to Hillsborough on a coach organised by the Heart of England Liverpool Supporters' Club with his younger brother, Nicholas Michael Hewitt, who also died.</p>
			</li>
			<li id="ns__hillsborough--43" class="">
				<h2 class="ns__hillsborough__name">Nicholas Michael Hewitt</h2>
				<span class="ns__hillsborough__age">16</span>
				<p class="ns__hillsborough__profile">Leicester schoolboy Nick Hewitt travelled on a coach organised by the Heart of England Liverpool Supporters' Club with his older brother, Carl Darren Hewitt, who also died.</p>
			</li>
			<li id="ns__hillsborough--44" class=" ns__hillsborough--female">
				<h2 class="ns__hillsborough__name">Sarah Louise Hicks</h2>
				<span class="ns__hillsborough__age">19</span>
				<p class="ns__hillsborough__profile">A student at Liverpool University, Sarah Hicks travelled by car from her home in Pinner, Middlesex with her father and mother, Trevor and Jenni Hicks, who both survived, and her younger sister, Victoria Jane Hicks, who also died. Trevor Hicks is president of the Hillsborough Family Support Group.</p>
			</li>
			<li id="ns__hillsborough--45" class=" ns__hillsborough--female">
				<h2 class="ns__hillsborough__name">Victoria Jane Hicks</h2>
				<span class="ns__hillsborough__age">15</span>
				<p class="ns__hillsborough__profile">A schoolgirl from Pinner, Middlesex, Victoria Hicks was the youngest girl to die in the tragedy. She travelled by car with her father and mother, Trevor and Jenni Hicks, who both survived, and her older sister, Sarah Louise Hicks, who also died. Trevor Hicks is president of the Hillsborough Family Support Group.</p>
			</li>
			<li id="ns__hillsborough--46" class="">
				<h2 class="ns__hillsborough__name">Gordon Rodney Horn</h2>
				<span class="ns__hillsborough__age">20</span>
				<p class="ns__hillsborough__profile">Gordon Horn, an unemployed 20-year-old from Liverpool, travelled by minibus with a number of friends, including Andrew Dodd and Dougie Hardaker, both of whom survived.</p>
			</li>
			<li id="ns__hillsborough--47" class="">
				<h2 class="ns__hillsborough__name">Arthur Horrocks</h2>
				<span class="ns__hillsborough__age">41</span>
				<p class="ns__hillsborough__profile">A married father-of-two from the Wirral, Arthur Horrocks travelled to Hillsborough by minibus with relatives. An avid Liverpool fan, he went to every home game and was at Heysel in 1985. He worked as a bus conductor then later as an insurance agent.  As the &quot;man from the Pru&quot; he was popular with his customers and more than 800 people attended his funeral. His wife Susan said: &quot;He was a wonderful husband and best friend, devoted and much loved.&quot;</p>
				<a class="ns__hillsborough__storylink" href="http://www.bbc.co.uk/news/uk-england-26888001" target="ns__linkout">Full story (opens in a new browser window)</a>
			</li>
			<li id="ns__hillsborough--48" class="">
				<h2 class="ns__hillsborough__name">Thomas Howard</h2>
				<span class="ns__hillsborough__age">39</span>
				<p class="ns__hillsborough__profile">A chemical process worker from Runcorn, Thomas Howard travelled by coach with friends and his 14-year-old son Thomas Anthony Howard, who also died. They were the only father and son to die in the tragedy.</p>
			</li>
			<li id="ns__hillsborough--49" class="">
				<h2 class="ns__hillsborough__name">Thomas Anthony Howard</h2>
				<span class="ns__hillsborough__age">14</span>
				<p class="ns__hillsborough__profile">Tommy Howard as he was known to his family, was a schoolboy from Runcorn. He travelled by coach with his father, Thomas Howard, who also died. They were the only father and son to both die at the tragedy.</p>
			</li>
			<li id="ns__hillsborough--50" class="">
				<h2 class="ns__hillsborough__name">Eric George Hughes</h2>
				<span class="ns__hillsborough__age">42</span>
				<p class="ns__hillsborough__profile">Eric Hughes was a married sales executive and father-of-two from Warrington. He travelled by car with a number of friends, including Stanley Mullin, who survived.</p>
			</li>
			<li id="ns__hillsborough--51" class="">
				<h2 class="ns__hillsborough__name">Alan Johnston</h2>
				<span class="ns__hillsborough__age">29</span>
				<p class="ns__hillsborough__profile">Alan Johnston, a trainee accountant from Liverpool, travelled to the game by minibus with a number of friends, all of whom survived.</p>
			</li>
			<li id="ns__hillsborough--52" class=" ns__hillsborough--female">
				<h2 class="ns__hillsborough__name">Christine Anne Jones</h2>
				<span class="ns__hillsborough__age">27</span>
				<p class="ns__hillsborough__profile">A senior radiographer and Sunday school teacher from Preston, Christine Jones travelled to Hillsborough with her husband Stephen Jones who survived the tragedy. They had been married for four years when she died. A big music fan, she loved New Order and The Smiths and became a vegetarian after hearing the Smiths track 'Meat is Murder.' Christine enjoyed the atmosphere at Liverpool games and took an active part in organising coach travel to matches.</p>
				<a class="ns__hillsborough__storylink" href="http://www.bbc.co.uk/news/uk-england-26889672" target="ns__linkout">Full story (opens in a new browser window)</a>
			</li>
			<li id="ns__hillsborough--53" class="">
				<h2 class="ns__hillsborough__name">Gary Philip Jones</h2>
				<span class="ns__hillsborough__age">18</span>
				<p class="ns__hillsborough__profile">An 18-year-old student from Liverpool, Gary Jones, travelled by minibus with his cousin, Paul Brennan and friends, all of whom survived. He was a Liverpool FC season ticket holder but Hillsborough was his first away trip. At the time, he was planning to visit his sister Julie Flannagan in Spain but &quot;he never made it,&quot; she told the inquest.</p>
			</li>
			<li id="ns__hillsborough--54" class="">
				<h2 class="ns__hillsborough__name">Richard Jones</h2>
				<span class="ns__hillsborough__age">25</span>
				<p class="ns__hillsborough__profile">Rick, as he was known, had a chemistry degree from Sheffield University and drove to Hillsborough with his sister Stephanie Jones, who survived, and his 23-year-old girlfriend, Tracey Cox, who also died in the tragedy. Rick was interested in the environment and a big Liverpool fan. &quot;My life is centred on what Rick and Tracey have missed and what our lives would be like now,&quot; said Doreen Jones, Richard's mother. &quot;After all, they only went to watch a football game.&quot;</p>
				<a class="ns__hillsborough__storylink" href="http://www.bbc.co.uk/news/uk-england-26912077" target="ns__linkout">Full story (opens in a new browser window)</a>
			</li>
			<li id="ns__hillsborough--55" class="">
				<h2 class="ns__hillsborough__name">Nicholas Peter Joynes</h2>
				<span class="ns__hillsborough__age">27</span>
				<p class="ns__hillsborough__profile">A draughtsman from Liverpool, Nick Joynes, as he was known, travelled to the match with a number of friends, who all survived except Francis McAllister. Nick was a talented footballer who played for Bootle Boys and even had trials with Liverpool. He married his wife Gillian the September before the disaster. Tragically, his brother Mark was also killed in an accident in South Africa in 1983. Speaking at the inquests, his brother James said Nick's death &quot;has left a massive void in our family, and we miss him dearly.&quot;</p>
			</li>
			<li id="ns__hillsborough--56" class="">
				<h2 class="ns__hillsborough__name">Anthony Peter Kelly</h2>
				<span class="ns__hillsborough__age">29</span>
				<p class="ns__hillsborough__profile">Anthony Kelly was an unemployed father-of-three from Birkenhead, who travelled by coach to Sheffield with friends Michael Sullivan and Wayne Jenkins, who both survived.</p>
			</li>
			<li id="ns__hillsborough--57" class="">
				<h2 class="ns__hillsborough__name">Michael David Kelly</h2>
				<span class="ns__hillsborough__age">38</span>
				<p class="ns__hillsborough__profile">A 38-year-old warehouseman living in Bristol, Michael Kelly travelled on his own by a coach organised by the Avon, South West and South Wales Liverpool Supporters' Club. His brother, Steve, is an active member of the Hillsborough Justice campaign.</p>
			</li>
			<li id="ns__hillsborough--58" class="">
				<h2 class="ns__hillsborough__name">Carl David Lewis</h2>
				<span class="ns__hillsborough__age">18</span>
				<p class="ns__hillsborough__profile">Carl Lewis, a labourer from Liverpool, set off for Hillsborough by coach with his two brothers Michael and David and friends including Brian Williams, all of whom survived. Mr Lewis and Mr Williams hitch-hiked the last few miles in an attempt to buy tickets.</p>
			</li>
			<li id="ns__hillsborough--59" class="">
				<h2 class="ns__hillsborough__name">David William Mather</h2>
				<span class="ns__hillsborough__age">19</span>
				<p class="ns__hillsborough__profile">A post office clerk from Huyton, David Mather was a Liverpool FC season ticket holder who drove to the match with four friends who all survived. He wanted to be a police officer. When he died, his ashes were scattered on the Kop. His brother John Mather said: &quot;Our lives without David are always tinged with sadness.&quot; </p>
			</li>
			<li id="ns__hillsborough--60" class="">
				<h2 class="ns__hillsborough__name">Brian Christopher Matthews</h2>
				<span class="ns__hillsborough__age">38</span>
				<p class="ns__hillsborough__profile">A married financial consultant from Liverpool, Brian Matthews travelled with friends in a car, all of whom survived.</p>
			</li>
			<li id="ns__hillsborough--61" class="">
				<h2 class="ns__hillsborough__name">Francis Joseph McAllister</h2>
				<span class="ns__hillsborough__age">27</span>
				<p class="ns__hillsborough__profile">Francis McAllister was a fireman, originally from Liverpool, but working in London, and a good enough footballer to make the brigade's national side. He travelled on his own to Sheffield but met friends, all of whom survived except Nicholas Peter Joynes. As a boy, Francis was saved from a boating lake accident in North Wales by his father, Francis Andrew McAllister. His brother, Mark, said: &quot;Our father died nine years after Hillsborough, always regretting he had not been on hand to save his son one more time.&quot;</p>
				<a class="ns__hillsborough__storylink" href="http://www.bbc.co.uk/news/uk-england-26943603" target="ns__linkout">Full story (opens in a new browser window)</a>
			</li>
			<li id="ns__hillsborough--62" class="">
				<h2 class="ns__hillsborough__name">John McBrien</h2>
				<span class="ns__hillsborough__age">18</span>
				<p class="ns__hillsborough__profile">A student from Clwyd, John McBrien travelled on a coach organised by the Deeside Supporters' Club from Flint. He travelled with a number of friends, including Colin Griffiths, who survived.</p>
			</li>
			<li id="ns__hillsborough--63" class=" ns__hillsborough--female">
				<h2 class="ns__hillsborough__name">Marian Hazel McCabe</h2>
				<span class="ns__hillsborough__age">21</span>
				<p class="ns__hillsborough__profile">A Liverpool season ticket holder and factory worker from Basildon, Essex, Marian McCabe travelled to Sheffield with friends by train from King's Cross station. They all survived, with the exception of Inger Shah, who also died. Marian loved Liverpool FC and worked overtime to attend matches, even missing her mother's wedding. &quot;She was such a good and generous person, no words will ever do her justice,&quot; her mother Christine McEvoy told the inquest.</p>
				<a class="ns__hillsborough__storylink" href="http://www.bbc.co.uk/news/uk-england-26905605" target="ns__linkout">Full story (opens in a new browser window)</a>
			</li>
			<li id="ns__hillsborough--64" class="">
				<h2 class="ns__hillsborough__name">Joseph Daniel McCarthy</h2>
				<span class="ns__hillsborough__age">21</span>
				<p class="ns__hillsborough__profile">A student from London who was studying in Sheffield, Joseph McCarthy met up with friends from Liverpool before the game including Michael O'Keefe and Colin Auton, who survived, and Paul Brady, who also died in the tragedy.</p>
			</li>
			<li id="ns__hillsborough--65" class="">
				<h2 class="ns__hillsborough__name">Peter McDonnell</h2>
				<span class="ns__hillsborough__age">21</span>
				<p class="ns__hillsborough__profile">A bricklayer from Liverpool, Peter McDonnell travelled to Sheffield by car with friends, including Albert Atkin, who all survived.</p>
			</li>
			<li id="ns__hillsborough--66" class="">
				<h2 class="ns__hillsborough__name">Alan McGlone</h2>
				<span class="ns__hillsborough__age">28</span>
				<p class="ns__hillsborough__profile">A father-of-two and factory worker from Kirkby, Alan McGlone travelled by car with friends David Roberts and Stephen Clark, who both survived, and Joseph Clark, who also died in the tragedy.</p>
			</li>
			<li id="ns__hillsborough--67" class="">
				<h2 class="ns__hillsborough__name">Keith McGrath</h2>
				<span class="ns__hillsborough__age">17</span>
				<p class="ns__hillsborough__profile">Keith McGrath from Liverpool worked as a painter and travelled to the match by coach with friends. He was one of 38 people aged under 20 who died in the tragedy.</p>
			</li>
			<li id="ns__hillsborough--68" class="">
				<h2 class="ns__hillsborough__name">Paul Brian Murray</h2>
				<span class="ns__hillsborough__age">14</span>
				<p class="ns__hillsborough__profile">A schoolboy from Stoke-on-Trent, Paul Murray travelled from his home town on a coach organised by the Liverpool Supporters' Club with his father, Anthony Murray, who survived. He is one of 38 people aged under 20 who died in the tragedy.</p>
			</li>
			<li id="ns__hillsborough--69" class="">
				<h2 class="ns__hillsborough__name">Lee Nicol</h2>
				<span class="ns__hillsborough__age">14</span>
				<p class="ns__hillsborough__profile">Lee Nicol was the 95th person to die as a result of the tragedy after spending two days in a coma. The Bootle schoolboy travelled by train from Liverpool with friends Austin Grimmant and Alan Trees, who both survived.</p>
			</li>
			<li id="ns__hillsborough--70" class="">
				<h2 class="ns__hillsborough__name">Stephen Francis O'Neill</h2>
				<span class="ns__hillsborough__age">17</span>
				<p class="ns__hillsborough__profile">Stephen O'Neill was a student and Liverpool FC season ticket holder from Whiston, Merseyside. He travelled by car with his father Kevin O'Neill and cousin Paul Owens, who both survived, and his uncle David Hawley, who also died.</p>
			</li>
			<li id="ns__hillsborough--71" class="">
				<h2 class="ns__hillsborough__name">Jonathon Owens</h2>
				<span class="ns__hillsborough__age">18</span>
				<p class="ns__hillsborough__profile">A clerical assistant from Chester, Jonathon Owens drove to the game with friends Michael Robertson, who survived, and Peter Andrew Burkett, who also died at Hillsborough.</p>
			</li>
			<li id="ns__hillsborough--72" class="">
				<h2 class="ns__hillsborough__name">William Roy Pemberton</h2>
				<span class="ns__hillsborough__age">23</span>
				<p class="ns__hillsborough__profile">Roy, as he was known to family and friends, studied computer programming at Leicester Polytechnic. He travelled to Sheffield by coach with his father William Ewart Pemberton, who did not attend the match but went along to keep his son company. Roy suffered from type 1 diabetes from a young age and had to inject insulin &quot;but never moaned&quot;. His parents had previously lost another son and Roy was the &quot;apple of their eye&quot;.</p>
				<a class="ns__hillsborough__storylink" href="http://www.bbc.co.uk/news/uk-england-26903240" target="ns__linkout">Full story (opens in a new browser window)</a>
			</li>
			<li id="ns__hillsborough--73" class="">
				<h2 class="ns__hillsborough__name">Carl William Rimmer</h2>
				<span class="ns__hillsborough__age">21</span>
				<p class="ns__hillsborough__profile">Carl Rimmer was a video technician from Liverpool and travelled with his brother, Kevin Rimmer, and two friends all of whom survived. He was saving up to get engaged when he died. An avid Liverpool FC fan, &quot;half of his ashes are at the Kop end, not far from where he used to watch matches,&quot; Kevin Rimmer told the inquests</p>
				<a class="ns__hillsborough__storylink" href="http://www.bbc.co.uk/news/uk-england-26952328" target="ns__linkout">Full story (opens in a new browser window)</a>
			</li>
			<li id="ns__hillsborough--74" class="">
				<h2 class="ns__hillsborough__name">David George Rimmer</h2>
				<span class="ns__hillsborough__age">38</span>
				<p class="ns__hillsborough__profile">A married sales manager from Skelmersdale, David Rimmer travelled by car to Sheffield with Geoffrey Bridson, a friend, who survived.</p>
			</li>
			<li id="ns__hillsborough--75" class="">
				<h2 class="ns__hillsborough__name">Graham John Roberts</h2>
				<span class="ns__hillsborough__age">24</span>
				<p class="ns__hillsborough__profile">Graham Roberts worked as a gas board engineer from Wallasey, Merseyside and was a Liverpool FC season ticket holder. He travelled by car with a group of friends, including Paul Dunderdale and David Fellowes who survived.</p>
			</li>
			<li id="ns__hillsborough--76" class="">
				<h2 class="ns__hillsborough__name">Steven Joseph Robinson</h2>
				<span class="ns__hillsborough__age">17</span>
				<p class="ns__hillsborough__profile">An auto electrician from Liverpool, Steven Robinson travelled on a coach with several friends, including Thomas Hilton and Derek Richards, who both survived.</p>
			</li>
			<li id="ns__hillsborough--77" class="">
				<h2 class="ns__hillsborough__name">Henry Charles Rogers</h2>
				<span class="ns__hillsborough__age">17</span>
				<p class="ns__hillsborough__profile">Chester schoolboy Henry Rogers travelled with his older brother Adam and other friends, who all survived. The middle of three children, he loved sport using his little sister Alex, &quot;as a goalpost as she sat in her pushchair&quot;, his mother Veronica told the inquest. &quot;Straightforward, easy-going and charming... he was a natural person and a charmer&quot;. A good student, Henry was hoping to study economics at university when he died. His brother Adam died a few months after Henry in tragic circumstances unrelated to Hillsborough.</p>
				<a class="ns__hillsborough__storylink" href="http://www.bbc.co.uk/news/uk-england-26931561" target="ns__linkout">Full story (opens in a new browser window)</a>
			</li>
			<li id="ns__hillsborough--78" class="">
				<h2 class="ns__hillsborough__name">Colin Andrew Hugh William Sefton</h2>
				<span class="ns__hillsborough__age">23</span>
				<p class="ns__hillsborough__profile">Known as Andrew to his family and friends, Mr Sefton was a security officer from Skelmersdale. He was a Tottenham supporter but agreed to drive his friends and go to the match with them. All of his friends, including Anthony Campbell, survived.</p>
			</li>
			<li id="ns__hillsborough--79" class=" ns__hillsborough--female">
				<h2 class="ns__hillsborough__name">Inger Shah</h2>
				<span class="ns__hillsborough__age">38</span>
				<p class="ns__hillsborough__profile">Inger Shah was a Liverpool FC season ticket holder who was originally from Denmark. A secretary who worked in London, she travelled to Sheffield by train with her 13-year-old son Daniel, who survived, and fellow victim Marian McCabe. She was the oldest of seven women and girls to die at Hillsborough.</p>
			</li>
			<li id="ns__hillsborough--80" class=" ns__hillsborough--female">
				<h2 class="ns__hillsborough__name">Paula Ann Smith</h2>
				<span class="ns__hillsborough__age">26</span>
				<p class="ns__hillsborough__profile">Paula Smith from Clubmoor, Liverpool travelled alone to Sheffield on a Liverpool Supporters' Club coach. Her brother Walter said their parents were overjoyed when she was born as they only had sons and she was &quot;absolutely loved and spoilt by all of us.&quot; They used to go to matches together but only had one ticket to the semi-final at Hillsborough and Walter let Paula take it. &quot;I often think if I'd been there with her she would be alive today.&quot;</p>
				<a class="ns__hillsborough__storylink" href="http://www.bbc.co.uk/news/uk-england-26904237" target="ns__linkout">Full story (opens in a new browser window)</a>
			</li>
			<li id="ns__hillsborough--81" class="">
				<h2 class="ns__hillsborough__name">Adam Edward Spearritt</h2>
				<span class="ns__hillsborough__age">14</span>
				<p class="ns__hillsborough__profile">A schoolboy from Runcorn, Adam Spearritt travelled by car with his father, Eddie Spearritt, and some friends, all of whom survived. His father spent three days in a coma at the Northern General Hospital in Sheffield before recovering.</p>
			</li>
			<li id="ns__hillsborough--82" class="">
				<h2 class="ns__hillsborough__name">Philip John Steele</h2>
				<span class="ns__hillsborough__age">15</span>
				<p class="ns__hillsborough__profile">Philip Steele was a schoolboy from Southport who travelled from home by car to the match. He was accompanied by his father Leslie Steele, his mother Dolores and his 13-year-old brother Brian, all of whom survived.</p>
			</li>
			<li id="ns__hillsborough--83" class="">
				<h2 class="ns__hillsborough__name">David Leonard Thomas</h2>
				<span class="ns__hillsborough__age">23</span>
				<p class="ns__hillsborough__profile">A joiner from Birkenhead, David Thomas, travelled to Sheffield for the match with friends. Travelling with him were Stephen Edwards and David Ledsom, who both survived, and brothers Christopher Traynor and Martin Kevin Traynor, who also died in the tragedy.</p>
			</li>
			<li id="ns__hillsborough--84" class="">
				<h2 class="ns__hillsborough__name">Patrick John Thompson</h2>
				<span class="ns__hillsborough__age">35</span>
				<p class="ns__hillsborough__profile">A railway guard from Liverpool, Pat Thompson had five children under six years when he died. A passionate Liverpool supporter, he changed his shift to go to the game, travelling by train with his two brothers, Kevin and Joe, who survived. He was described by his widow, Kathleen Thompson, as &quot;a smashing dad&quot; and &quot;a loving and generous man&quot;. &quot;Pat was not a hooligan, but a hard-working family man,&quot; she said.</p>
				<a class="ns__hillsborough__storylink" href="http://www.bbc.co.uk/news/uk-england-26891023" target="ns__linkout">Full story (opens in a new browser window)</a>
			</li>
			<li id="ns__hillsborough--85" class="">
				<h2 class="ns__hillsborough__name">Peter Reuben Thompson</h2>
				<span class="ns__hillsborough__age">30</span>
				<p class="ns__hillsborough__profile">Peter Thompson was a married engineer and a Liverpool FC season ticket holder. He drove to the game alone from his home in Wigan. </p>
			</li>
			<li id="ns__hillsborough--86" class="">
				<h2 class="ns__hillsborough__name">Stuart Paul William Thompson</h2>
				<span class="ns__hillsborough__age">17</span>
				<p class="ns__hillsborough__profile">Stuart Thompson was an apprentice joiner from Liverpool who travelled by car to the match with his brother, Martin Thompson, and friends Simon Hughes and Jason Kirwin, all of whom survived. He was a close friend of Kevin Daniel Williams, who also died in the tragedy.</p>
			</li>
			<li id="ns__hillsborough--87" class="">
				<h2 class="ns__hillsborough__name">Peter Francis Tootle</h2>
				<span class="ns__hillsborough__age">21</span>
				<p class="ns__hillsborough__profile">Peter Tootle was a labourer from Liverpool, who travelled by car with his uncle, Stephen Tootle and friend, Colin Frodsham, both of whom survived the tragedy.</p>
			</li>
			<li id="ns__hillsborough--88" class="">
				<h2 class="ns__hillsborough__name">Christopher James Traynor</h2>
				<span class="ns__hillsborough__age">26</span>
				<p class="ns__hillsborough__profile">A joiner from Birkenhead, Christopher James Traynor travelled to Sheffield with his younger brother Kevin Traynor and friends including David Thomas who also died. He had been hoping to start a family with his wife Lizzie when he died, the inquest heard. His sister Theresa Arrowsmith said he was &quot;caring and gentle&quot;, supporting her and her two children when she was widowed. &quot;I speak for his wife Lizzie, my remaining siblings Paul and John, the extended family and myself when I say his passing left a huge gap in all our lives.&quot;</p>
				<a class="ns__hillsborough__storylink" href="http://www.bbc.co.uk/news/uk-england-26927469" target="ns__linkout">Full story (opens in a new browser window)</a>
			</li>
			<li id="ns__hillsborough--89" class="">
				<h2 class="ns__hillsborough__name">Martin Kevin Traynor</h2>
				<span class="ns__hillsborough__age">16</span>
				<p class="ns__hillsborough__profile">Kevin Traynor, as he was known to his family and friends, was an apprentice joiner from Birkenhead. He travelled with his brother Christopher John Traynor and friend Dave Thomas, who both also died. The youngest of five children, Kevin enjoyed keeping fit and was a promising boxer. Kevin had also been in the Leppings Lane end of Hillsborough for the 1988 semi-final the year earlier.  &quot;When he heard the 1989 game would be there, he said: 'Oh, no, not that stadium again!' &quot; the inquest was told.</p>
				<a class="ns__hillsborough__storylink" href="http://www.bbc.co.uk/news/uk-england-26930226" target="ns__linkout">Full story (opens in a new browser window)</a>
			</li>
			<li id="ns__hillsborough--90" class="">
				<h2 class="ns__hillsborough__name">Kevin Tyrrell</h2>
				<span class="ns__hillsborough__age">15</span>
				<p class="ns__hillsborough__profile">A schoolboy from Runcorn, Kevin Tyrrell was also a talented footballer and was hoping to sign apprentice forms with Tranmere Rovers. He was a Liverpool FC season ticket holder and travelled by coach with friends Brian Welch and Steven Cain, who survived the tragedy.</p>
			</li>
			<li id="ns__hillsborough--91" class="">
				<h2 class="ns__hillsborough__name">Colin Wafer</h2>
				<span class="ns__hillsborough__age">19</span>
				<p class="ns__hillsborough__profile">Colin Wafer was a bank clerk from Liverpool and the 1989 FA Cup semi-final at Hillsborough was his first away match. He was close to his sister Lisa and brother Ian and &quot;lively and bright as his red hair,&quot; his father Jim Wafer said. &quot;I remember him as a confident, intelligent, hard-working grafter... who was a pleasure to know.&quot;</p>
			</li>
			<li id="ns__hillsborough--92" class="">
				<h2 class="ns__hillsborough__name">Ian David Whelan</h2>
				<span class="ns__hillsborough__age">19</span>
				<p class="ns__hillsborough__profile">A junior clerk from Warrington, Ian Whelan travelled to the match on a Liverpool supporters' coach from Anfield. He was nicknamed 'Ronnie' after his football hero, the Liverpool player Ronnie Whelan. Ian used to draw caricatures of the Liverpool players before sending them off to be signed. Before leaving that morning, Ian left two red roses on his girlfriend Joanne's doorstep, because he didn't want to wake her.</p>
				<a class="ns__hillsborough__storylink" href="http://www.bbc.co.uk/news/uk-england-26901582" target="ns__linkout">Full story (opens in a new browser window)</a>
			</li>
			<li id="ns__hillsborough--93" class="">
				<h2 class="ns__hillsborough__name">Martin Kenneth Wild</h2>
				<span class="ns__hillsborough__age">29</span>
				<p class="ns__hillsborough__profile">A printing worker from Cheshire and a Liverpool FC season ticket holder, Martin Wild travelled by car from Stockport with friends John Murray and Andrew Kirby, who both survived.</p>
			</li>
			<li id="ns__hillsborough--94" class="">
				<h2 class="ns__hillsborough__name">Kevin Daniel Williams</h2>
				<span class="ns__hillsborough__age">15</span>
				<p class="ns__hillsborough__profile">A Liverpool schoolboy, Kevin Williams travelled to Hillsborough with friends all of whom survived. &quot;He used to go on about football all the time,&quot; his sister Sara said. He was very close to his mother Anne Williams who became a leading Hillsborough campaigner before her death in 2012. &quot;It wouldn't surprise me at all if Kevin's last word was 'Mum.'&quot;</p>
			</li>
			<li id="ns__hillsborough--95" class="">
				<h2 class="ns__hillsborough__name">Graham John Wright</h2>
				<span class="ns__hillsborough__age">17</span>
				<p class="ns__hillsborough__profile">Graham Wright, an insurance clerk from Liverpool, travelled to Sheffield by coach with his friend James Gary Aspinall, who also died.</p>
			</li>
		</ul>






        
    </div>

<%= include('includes/bottom.tmpl') %>